body, .wrapper, #slider, .slide-content, .main-banner{
    margin: 15%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    height: 75vh;
    overflow: hidden;
}

.main-banner{
    position: relative;
}

.main-banner .imgban{
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50px;
    transition: all ease-in-out 300ms;
}


.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1{
    background-image: url('/images/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2{
    background-image: url('/images/image2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban3{
    background-image: url('/images/image3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}

.slide-content span{
    font-size: 5rem;
    color:#fff;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;  
    width:0;
    height: 0;
    border-style:solid;
}
#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent #000 transparent transparent;
    left: 0;
    margin-left:30px;

}

#arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #000;
    right: 0;
    margin-right:30px;

}